<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="{% url 'earlshorten:save' %}" method='POST'>
        <input type="text" name='url' placeholder='Enter URL to shorten'>
        <button>ENSHORTIFY</button>
    </form>
    <ul> Enshortified URLs
        {% for url in urls %}
        <li>
            <a href="{% url 'earlshorten:yeet' url.code %}">
                {{url.code}}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>