{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script defer src="{% static 'pokeapp/app.js' %}"></script>
</head>
<body>
    <h1>OK</h1>

    <div id="app">
        <div id="pokemon-div">
            <div v-for="poke in pokemon" v-bind:value="poke.id"><div>No: [[poke.number]], Name: [[poke.name]]</div><img v-bind:src="poke.image_front" v-bind:alt="'Picture of ' + poke.name"></div>
        </div>

    </div>

</body>
</html>