<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1>Hello from Flask!</h1>
    <h3>Hello {{name}}</h3>

    <form action="/" method="post"> 
        <!-- action is where the data is sent, method is what kind of request. Get request shows in bar, post does not -->
        <input type="text" name="name" placeholder="Enter name"/>
        <input type="text" name="length" placeholder="Enter password length"/>
        <p>{{message}}</p>
        <button>Submit</button>
    </form>
    <p>{{password}}</p>
</body>
</html>