body {
	display: flex;
}

.box {
	height: 12.5rem;
	width: 12.5rem;
	background-color: tomato;
	margin: 1rem;
}

/*
360px -> divide by 16 to get rem
480px
720px
1080px
*/

/* max-width -> screen goes below width */
@media screen and (max-width: 44rem) {
	body {
		flex-direction: column;
	}
	.box {
		background-color: cadetblue;
	}
}

/* min-width -> screen goes above width */
@media screen and (min-width: 60rem) {
	.box {
		width: 16rem;
	}
}
