body{
    background-color: slategray;
}


h1,h2,h3,h4,h5,h6{
    text-align: center;
}

.input{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

h4{
    background-color: silver;
    border-radius: 5px;
    margin: 10px;
}