{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'pep_app/styles.css' %}" />
    <title>Login</title>
  </head>
  <body>
    <div class="topnav">
      <!-- <div> -->
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        {% if user.is_authenticated %}
        <a href="{% url 'examiner' %}">Locate Examiners</a>
        <a class="active" href="{% url 'login' %}">Logout</a>
        {% else %}<a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
        {% endif %}{% if user.is_authenticated %}
        <p class="hello-user">Hello {{user.username}}!</p>
        {% endif %}
      <!-- </div> -->
      <div class="search">
        <input type="text" placeholder="Search..." id="search" />
      </div>
    </div>
    <br />
    <h1>Login/Logout</h1>
    <hr />

    
    <div class="login">
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <div class="hello">
          <h3 class="hello">
            {% if user.is_authenticated %} You've logged in as {{ user.username }}<br>and now have access to the<br>Locate Examiners tab.
          </h3>
          {% else %}
          <p>You are not logged in. <br>Please login to access <br> Locate Examiners tab.</p>

          <a href="{% url 'login' %}"><button type="submit">Log In</button></a>
          {% endif %}
        </div>
      </form>
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}"><button type="submit">Log Out</button></a>
      {% endif %}
      <br />
    </div>
  </body>
</html>

{% comment %} {% extends 'base.html' %} {% block title %}Login{% endblock %} {%
block content %}
<h2>Log In</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
{% endblock %} {% endcomment %}
