{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    <link rel="stylesheet" href=" {% static 'grocery_list/styles.css' %} ">
</head>
<body>
    <h1>Welcome to your Grocery List!</h1>

    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <input name="description" type="text" placeholder="Item Description" />
        <input name="is_completed" type="checkbox" />
        <label for="">Completed?</label>
        <button>Add</button>
    </form>
    <ul> Incomplete
        {% for item in grocery_items %}
        {% if not item.is_completed %}
        <li>
            <a href="{% url 'item_detail' item.id %}">
                {{item.description}}
            </a>
        </li> 
        {% endif %}
        {% endfor %}
    </ul>


    <ul> Complete
        {% for item in grocery_items %}
        {% if item.is_completed %}
        <li>
            <a class="completed" href="{% url 'item_detail' item.id %}">
                {{item.description}}
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

</body>
</html>