{% extends 'main.html' %}
{% block title %}Grocery List{% endblock %}
{% block content %}

<h1>Grocery page</h1>

<a href="{% url 'create-list' %}">Start list</a>
<hr>

{% csrf_token %}

<div>
    {% for list in lists %}
        <div>
            <a href="{% url 'update-list' list.id %}">Edit</a>
            <a href="{% url 'delete-list' list.id %}">Delete</a>
            <br>
            <h5>{{list.completed}} --<a href="{% url 'check-list' list.id %}">{{list.details}}</h5>
           
            <hr>
        </div>
    {% endfor %}
</div>


{% for item in list %}
{% comment %} <ul>
    
</ul> {% endcomment %}

{% endfor %}
   
{% endblock content %}