<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<a href="{% url 'assignments:create' %}">Create new Assignment</a>
		{% for item in assignments %}
		<div>
			<h2>{{item.title}}</h2>
			<p>Due date: {{item.date_due|date:"l N dS Y"}}</p>
			<ul>
				{% for student in item.students.all %}
				<li>{{student.name}}</li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</body>
</html>
