<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotate your word!</title>
</head>
<body>
    <h1>The good ole Rot cypher!</h1>
    <form action="/" method="post">
        <input type="text" name="word" placeholder="Enter a word">
        <input type="text" name="rotation" placeholder="Enter a rotation amount">
        <p>{{message}}</p>
        <button>Submit</button>
    </form>

    <p>{{rot1}}</p>
    
</body>
</html>