<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>Add Todo</h1>
    <form action="{% url 'todo:save' %}" method="POST">
        {% csrf_token %}
        {{form}}
        <button>Create</button>
    </form>
    <h2>My Todo's</h2>
    
    {% for todo in todos %}

    <p>Todo: {{todo.text}}</p>
    <p>Priority: {{todo.priority}}</p>
    <p>Date Completed: {{todo.completed_date}}</p>
    
    {% endfor %}
</body>
</html>
