<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROT Cypher</title>
</head>
<body>
    <h1>ROT Cypher</h1>
    <form action="/rot/" method="POST">
        {% csrf_token %}
        <input name="phrase" type="text" placeholder="Enter text" />
        <input name="amount" type="number" min="1" max="26" step="1" />
        <button>Submit</button>
    </form>
    <h4>{{rotated}}</h4>
</body>
</html>