<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{item.desc}}</title>
</head>
<body>
    <h1>{{item.desc}}</h1>
    <h3>Date created - {{item.created_date}}</h3>
    <form action="{% url 'grocerylist:update' item.id %}" method='POST'>
        {% csrf_token %} {{form_update}}
        <button>Submit</button>
    </form>
    <a href="{% url 'grocerylist:index' %}">&lArr; Back to home</a>
</body>
</html>