<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROshamBO</title>
</head>
<body>
    <h1>Welcome to The Rock Paper Scissors Simulator!</h1>
    <form action="/RPS/" method="POST">
        {% csrf_token %}
        <label for="RPS">Make your choice!</label>
        <select name="my_choice">
            <option value="rock">Rock</option>
            <option value="paper">Paper</option>
            <option value="scissors">Scissors</option>
        </select>
        <button>submit</button>
    </form>
    {% if user %}
    Computer choice was {{computer}}
    <br>
    User choice was {{user}}
    <br>
    {{outcome}}
    {% endif %}
</body>
</html>