<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todotu/css/styles.css'%}">
</head>
<body>
    <h1>Todo List</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
    </form>

    <ul>
        {% for todo in todos %}
        <div>
            <li class="todo.priority {% if todo.completed %} completed {% endif %}">{{ todo.text }} {{ todo.priority }}</li>
            <a href="complete/{{forloop.counter0}}">Complete</a>
            <a href="delete/{{forloop.counter0}}">Delete</a>
        </div>
        {% empty %}
        <li>No todos</li>
        {% endfor %}
    </ul>

</body>
</html>