{% extends 'blog/base.html' %}

{% block title %}
{{request.user.username}} | Profile
{% endblock title %}

{% block content %}
<div style='display:flex; justify-content:center; margin: 0 auto'>
    <h1>{{request.user.username}}</h1>
</div>
<hr>
<div style='display:flex; flex-direction:row;'>
    <div style='width: 50%'>
        <h3 style='display:flex; justify-content:center; margin: 0 auto' >New Post</h3>

        <div style = "margin:1rem">{% include 'blog/_form.html' with path='blog:create' button_text='Create Post'%}</div>
    </div>
    <div style='width: 50%;' >
        <h3 style='display:flex; justify-content:center; margin: 0 auto' >My Timeline</h3>
        <div style = "margin:1rem;">
            {% for post in user_post  %}
            <div>
                <h4><a href="{% url 'blog:detail' post.id %}">{{post.title}}</a></h4>
                <p>{{post.body}}</p>
                <div>
                    <a href=" {% url 'blog:edit' post.id %}">Edit</a>
                    <a href=" {% url 'blog:delete' post.id %}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}