<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Friends</title>
	</head>
	<body>
		<h1>Welcome to the people app</h1>

		<form action="{% url 'index' %}" method="POST">
			{% csrf_token %}
			<input name="first_name" type="text" placeholder="First Name" />
			<input name="last_name" type="text" placeholder="Last Name" />
			<input name="age" type="number" placeholder="Age" />
			<input name="besties" type="checkbox" />
			<label for="">Besties?</label>
			<button>Add</button>
		</form>

		{% for person in people %}
		<p>{{person.first_name}} {{person.last_name|default_if_none:""}}</p>
		{% endfor %}
	</body>
</html>
