{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'pep_app/styles.css' %}" />
    <title>PEP Home</title>
  </head>
  <body>
    <div class="topnav">
      <div>
        <a class="active" href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        {% if user.is_authenticated%}
        <a href="{% url 'examiner' %}">Locate Examiners</a>
        <a href="{% url 'login' %}">Logout</a>
        {% else %} <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
      </div>
      <input type="text" placeholder="Search..." id="search" />
    </div>
    <br />
    <h1>Welcome to the Pilot's Examiner Planner!</h1>
    <hr />
    <br />
    <div class="background-image"></div>
  </body>
</html>
