{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pep_app/styles.css' %}"> 
    <title>Designated Pilot Examiners</title>
</head>
<body>
    <h1>Designated Pilot Examiners</h1>

    <div class='topnav'>
        <a class='active' href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#examiners">Locate Examiners</a>
        <input type="text" placeholder='Search...' id='search'>
    </div>

    <div class='search_criteria'>

        <label for='states'>Choose a State</label>
        <select name="states" id="states">
            <option value=" ">- Select -</option>
            <option value="alabama">Alabama</option>
            <option value="alaska">Alaska</option>
            <option value="arizona">Arizona</option>
            <option value="arkansas">Arkansas</option>
            <option value="california">California</option>
            <option value="colorado">Colorado</option>
            <option value="connecticut">Connecticut</option>
            <option value="dc">DC</option>
            <option value="delaware">Delaware</option>
            <option value="florida">Florida</option>
            <option value="georgia">Georgia</option>
            <option value="hawaii">Hawaii</option>
            <option value="idaho">Idaho</option>
            <option value="illinois">Illinois</option>
            <option value="indiana">Indiana</option>
            <option value="iowa">Iowa</option>
            <option value="kansas">Kansas</option>
            <option value="kentucky">Kentuck</option>
            <option value="louisiana">Louisiana</option>
            <option value="maine">Maine</option>
            <option value="maryland">Maryland</option>
            <option value="massachusetts">Massachusetts</option>
            <option value="michigan">Michigan</option>
            <option value="minnesota">Minnesota</option>
            <option value="mississippi">Mississippi</option>
            <option value="missouri">Missouri</option>
            <option value="montana">Montana</option>
            <option value="nebraska">Nebraska</option>
            <option value="nevada">Nevada</option>
            <option value="new hampshire">New Hampshire</option>
            <option value="new jersey">New Jersey</option>
            <option value="new mexico">New Mexico</option>
            <option value="new york">New York</option>
            <option value="north carolina">North Carolina</option>
            <option value="north dakota">North Dakota</option>
            <option value="ohio">Ohio</option>
            <option value="ohklahoma">Oklahoma</option>
            <option value="oregon">Oregon</option>
            <option value="pennsylvania">Pennsylvania</option>
            <option value="rhode island">Rhode Island</option>
            <option value="south carolina">South Carolina</option>
            <option value="south dakota">South Dakota</option>
            <option value="tennessee">Tennessee</option>
            <option value="texas">Texas</option>
            <option value="utah">Utah</option>
            <option value="vermont">Vermont</option>
            <option value="virginia">Virginia</option>
            <option value="washington">Washington</option>
            <option value="west virginia">West Virginia</option>
            <option value="wisconsin">Wisconsin</option>
            <option value="wyoming">Wyoming</option>


        </select>
    </div>

  
    <ul>
        <table>
            <tr>
                <th>Examiner Name</th>
                <th>Address</th>
                <th>Phone / Email</th>
                <th>Function(s) Authorized</th>
                <th>Office Name</th>
            </tr>
            {% for examiner in examiners.data %}
                <tr>
                    <td>{{examiner.fullName}}</td>
                    <td>{{examiner.completeAddress}}</td>
                    <td>{{examiner.phoneEmail}}</td>
                    <td>{{examiner.functionCodes}}</td>
                    <td>{{examiner.officeName}}</td>
                </tr>
            {% endfor %}
        </table>
    </ul>
    
</body>
</html>