#display {
    color: red;
    font-weight: bold;
}

#inputs {
    font-weight: bold;
}

#input-div {
    margin: 2rem;
}

#box {
    background-color: #ebebeb; 
}

body {
    text-align: center;
}

h1 {
    margin: 3rem 0 1rem 0;
}

button {
    background-color: cornflowerblue;
    color: white;
    height: 3.125rem;
    width: 6.25rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0 2rem 0;
}

#output {
    font-weight: bold;
    font-size: 1.5rem;
}