<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rot Cy|ipher</title>
</head>
<body>
    <h1>Rot Cipher</h1>
    <form action="/rot/" method="POST">
        {% csrf_token %}
        <input name="phrase" type="text" placeholder="Enter Phrase">
        <input name="amount" type="range" min=1 max=26 step=1 value="13" />
        <button>Submit</button>
    </form>
    {{rotated_phrase}}
</body>
</html> 
